<div class="home-container flex flex-col items-center justify-center min-h-screen bg-sky-900 text-white p-6">
  <!-- Logo -->
  <img src="hoa-removedbg.png" alt="App Logo" class="w-20 h-20 mb-4 rounded-lg shadow-md">

  <h1 class="text-3xl font-bold mb-6 text-center">Monthly Dues Verification Fiesta Communities Castillejos</h1>

  <button 
    (click)="startScanning()" 
    class="bg-white text-sky-900 font-semibold py-2 px-6 rounded-lg shadow-lg hover:bg-sky-100 transition"
  >
    Scan QR Code
  </button>

  <app-scan *ngIf="isScanningActive" class="mt-6"></app-scan>
</div>
